body {
font-family: 'Segoe UI', sans-serif;
background-color:#f3f0ff;
}

h2, h3 {
font-weight: 600;
color: #2c3e50;
}

.container {
background:#a06cb0 ;
padding: 30px;
border-radius: 12px;
box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.table th {
background-color: #343a40;
color: rgb(255, 255, 255);
text-align: center;
}

.table td {
text-align: center;
vertical-align: middle;
}

.btn {
border-radius: 8px;
transition: 0.3s;
}

.btn:hover {
transform: scale(1.05);
}

canvas {
margin-top: 30px;
}