{% extends 'base.html' %}
{% block content %}

<h3>View Achievement</h3>

<form method="POST" class="mb-4">
<input type="text" name="usn" class="form-control"
placeholder="Enter USN" required>
<button class="btn btn-primary mt-2">Search</button>
</form>

{% if data %}
<h5>Total Participation: {{ total }}</h5>

<table class="table table-bordered table-striped">
<tr>
<th>Event</th>
<th>Level</th>
<th>Year</th>
<th>Prize</th>
</tr>

{% for row in data %}
<tr>
<td>{{ row['event_type'] }}</td>
<td>{{ row['level'] }}</td>
<td>{{ row['year'] }}</td>
<td>{{ row['prize'] }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}